extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  if(location.MAKHOA)
    h1(class="mb-4") Địa điểm phòng của khoa #{location.MAKHOA}

  if (location.DIADIEM)
    div(class="mb-4") Địa điểm phòng: <b>#{location.DIADIEM}</b>

  if (location.IMAGE)
    div(class="mb-4")
      img(
        src=location.IMAGE
        style="width: 200px"
      )

  if (location.status)
    div(class="mb-4")
      span Trạng thái:
      if (location.status === "active")
        span(class="badge badge-success") Hoạt động
      else
        span(class="badge badge-danger") Dừng hoạt động

  if (location.createdAt)
    div(class="mb-4") Ngày tạo: <b>#{location.createdAt}</b>

  if (location.updatedAt)
    div(class="mb-4") Ngày cập nhật: <b>#{location.updatedAt}</b>
