extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  +alert-success(5000)

  h1(class="mb-4") Chỉnh sửa địa điểm 

  form(
    action=`/${prefixAdmin}/location/edit/${location.MAKHOA}/${location.STT}?_method=PATCH`  
    id="form-edit-location"  
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="DIADIEM") Tên địa điểm
      input(
        type="text"
        class="form-control"
        id="DIADIEM"
        name="DIADIEM"
        placeholder="Tên địa điểm"
        required
        value=location.DIADIEM
      )
    div(class="form-group")
      label(for="MAKHOA") Khoa
      select(
        class="form-control"
        id="MAKHOA"
        name="MAKHOA"
        required
      )
        each department in departments 
          option(value=department.MAKHOA selected=location.MAKHOA==department.MAKHOA) #{department.TENKHOA}
    div(
        class="form-group"
        upload-image
      )
        label(for="IMAGE") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="image"
          name="IMAGE" 
          accept="image/*"
          upload-image-input
        )
        img(
          src=location.IMAGE
          class="image-preview"
          upload-image-preview
        )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked=(location.status == "active" ? true: false)
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked=(location.status == "inactive" ? true: false)
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Chỉnh sửa
