extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  +alert-success(5000)

  h1(class="mb-4") Chỉnh sửa dự án

  form(
    action=`/${prefixAdmin}/project/edit/${project.MADA}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label Tên dự án
      input(
        type="text"
        class="form-control"
        id="projectName"
        name="TENDA"
        value=project.TENDA
      )

    div(class="form-group")
      label(for="MAKHOA") Khoa
      select(
        type="text"
        class="form-control"
        id="MAKHOA"
        name="MAKHOA"
        placeholder="Mã khoa"
        required
      )
        each department in departments 
          option(value=department.MAKHOA) #{department.TENKHOA}

    div(class="form-group")
      label Ngày bắt đầu
      input(
        type="date"
        class="form-control"
        id="projectStartDate"
        name="NGAYBD"
        value=project.NGAYBD
      )

    div(class="form-group")
      label Ngày kết thúc
      input(
        type="date"
        class="form-control"
        id="projectEndDate"
        name="NGAYKT"
        value=project.NGAYKT
      )

    div(
        class="form-group"
        upload-image
      )
        label(for="IMAGE") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="image"
          name="IMAGE"
          accept="image/*"
          upload-image-input
        )
        img(
          src=project.IMAGE
          class="image-preview"
          upload-image-preview
        )

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="projectActive"
        name="status"
        value="active"
        checked=(project.status == "active")
      )
      label(for="projectActive" class="form-check-label") Hoạt động

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="projectInactive"
        name="status"
        value="inactive"
        checked=(project.status == "inactive")
      )
      label(for="projectInactive" class="form-check-label") Dừng hoạt động

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Chỉnh sửa
