extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  +alert-error(5000)
  
  if(role.permissions.includes("project-category_create"))
    h1(class="mb-4") Thêm mới đề án
    if(employees)
      div(data-employees=employees)

    form(
      action=`/${prefixAdmin}/project/create`  
      id="form-create-project"  
      method="POST"
      enctype="multipart/form-data"
    )
      div(class="form-group")
        label(for="TENDA") Tên dự án
        input(
          type="text"
          class="form-control"
          id="TENDA"
          name="TENDA"
          placeholder="Tên dự án"
          required
        )
      div(class="form-group")
        label(for="DDIEM_DA") Địa điểm đề án
        input(
          type="text"
          class="form-control"
          id="DDIEM_DA"
          name="DDIEM_DA"
          placeholder="Địa điểm dự án"
          required
        )
      div(class="form-group")
        label(for="MAKHOA") Khoa
        select(
          type="text"
          class="form-control"
          id="MAKHOA"
          name="MAKHOA"
          placeholder="Mã khoa"
          required
        )
          each department in departments 
            option(value=department.MAKHOA) #{department.TENKHOA}
      
      div(class="form-group")
        label(for="MANV") Nhân viên
        input(type="checkbox", id="checkAll" name="MANV")
        
        div(class="form-check" divMANV)





      div(class="form-group")
        label(for="NGAYBD") Ngày bắt đầu
        input(
          type="date"
          class="form-control"
          id="NGAYBD"
          name="NGAYBD"
          required
        )

      div(class="form-group")
          label(for="desc") Mô tả
          textarea(
            class="form-control textarea-mce"
            id="desc"
            name="desc"
            rows="5"
          ) 

      div(
          class="form-group"
          upload-image
        )
          label(for="IMAGE") Ảnh
          input(
            type="file"
            class="form-control-file"
            id="image"
            name="IMAGE" 
            accept="image/*"
            upload-image-input
          )
          img(
            src=""
            class="image-preview"
            upload-image-preview
          )
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
