.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`/${prefixAdmin}/employee`) Danh sách nhân viên
      li 
        a(href=`/${prefixAdmin}/project`) Danh sách đề án
      li 
        a(href=`/${prefixAdmin}/location`) Danh sách địa điểm phòng
      li 
        a(href=`/${prefixAdmin}/department`) Danh sách khoa
      li 
        a(href=`/${prefixAdmin}/roles`) Nhóm quyền
      li
        a(href=`/${prefixAdmin}/roles/permissions`) Phân quyền
      li
        a(href=`/${prefixAdmin}/accounts`) Tài khoản
