.sider
  .inner-menu
    ul
      li
        a(href=`/${prefixAdmin}/dashboard`) Tổng quan
      li
        a(href=`/${prefixAdmin}/employee`) Danh mục nhân viên
      li 
        a(href=`/${prefixAdmin}/project`) Danh mục đề án
      li 
        a(href=`/${prefixAdmin}/location`) Danh mục địa điểm phòng
      li 
        a(href=`/${prefixAdmin}/department`) Danh mục khoa

