extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
  +alert-error(5000)

  h1(class="mb-4") Thêm mới khoa

  form(
    action=`/${prefixAdmin}/department/create`  
    id="form-create-department"  
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="TENKHOA") Tên khoa
      input(
        type="text"
        class="form-control"
        id="TENKHOA"
        name="TENKHOA"
        placeholder="Tên khoa"
        required
      )
    div(class="form-group")
      label(for="TRPHG") Trưởng phòng
      select(
        class="form-control"
        id="TRPHG"
        name="TRPHG"
      )
        option(value="") Không có
        each NV in employees 
          option(value=NV.MANV) #{NV.MANV}-#{NV.HONV} #{NV.TENLOT} #{NV.TENNV}

    div(class="form-group")
      label(for="KHOA_CHA") Thuộc khoa
      select(
        class="form-control"
        id="KHOA_CHA"
        name="KHOA_CHA"
      )
        option(value="") Không có
        +select-tree(departments)


    div(class="form-group")
      label(for="NGNC") Ngày nhận chức
      input(
        type="date"
        class="form-control"
        id="NGNC"
        name="NGNC"
      )
    div(class="form-group")
      label(for="NGTL") Ngày tạo lập
      input(
        type="date"
        class="form-control"
        id="NGTL"
        name="NGTL"
        required
      )
    div(
        class="form-group"
        upload-image
      )
        label(for="IMAGE") Ảnh
        input(
          type="file"
          class="form-control-file"
          id="image"
          name="IMAGE" 
          accept="image/*"
          upload-image-input
        )
        img(
          src=""
          class="image-preview"
          upload-image-preview
        )
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked
      )
      label(for="statusActive" class="form-check-label") Hoạt động
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
      )
      label(for="statusInActive" class="form-check-label") Dừng hoạt động
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Tạo mới
