extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug

block main
  +alert-success(5000)
  +alert-error(5000)

  h1(class="mb-4") #{pageTitle}

  .card.mb-3
    .card-header Bộ lọc và Tìm kiếm
    .card-body
      .row
        .col-6
          +filter-status(filterState)
        .col-6
          +search(keyword,[
            {
              label: "Tên khoa",
              value: "TENKHOA"
            },
            {
              label: "Mã khoa",
              value: "MAKHOA"
            }
          ])

  .card.mb-3
    .card-header Sắp xếp
    .card-body
      .row
        .col-4
          +sort([
            {
              label: "Vị trí giảm dần",
              value: "MAKHOA-desc"
            },
            {
              label: "Vị trí tăng dần",
              value: "MAKHOA-asc"
            },
            {
              label: "Tên khoa giảm dần",
              value: "TENKHOA-desc"
            },
            {
              label: "Tên khoa tăng dần",
              value: "TENKHOA-asc"
            },
            {
              label: "Ngày thành lập giảm dần",
              value: "NGTL-desc"
            },
            {
              label: "Ngày thành lập tăng dần",
              value: "NGTL-asc"
            }
          ])
  
  .card.mb-3
      .card-header Danh sách
      .card-body
        .row
          .col-8
              +form-change-multi(`/${prefixAdmin}/department/change-multi?_method=PATCH`)
          .col-4
              a(
                href=`/${prefixAdmin}/department/create`
                class="btn btn-outline-success"
              ) + Thêm mới


  table(
          class="table table-hover table-sm"
          checkbox-multi
        )
    thead
      tr
        td
          input(
              type="checkbox"
              name="checkall"
          )
        th STT
        th Hình ảnh
        th Tên khoa
        th Ngày thành lập
        th Trưởng phòng
        th Status
        th Hành động

    tbody
      if(departments.length > 0)
        each department, index in departments
          tr
            td
              input(
                type="checkbox"
                name="id"
                value=department.MAKHOA
              ) 
            td #{index + 1}
            td
              img(
                src=department.IMAGE
                alt=`${department.TENKHOA}`
                width="100px"
                height="auto"
              )
            td #{department.TENKHOA}
            td #{department.NGTL}
            td 
              if(department.TRPHG)
                p #{department.TRPHG}
              else 
                p Trống
            td
              if(department.status == "active")
                button(
                  class="badge badge-success"
                  button-change-status
                  data-status=department.status
                  data-id=department.MAKHOA
                ) Hoạt động
              else
                button(
                  class="badge badge-danger"
                  button-change-status
                  data-status=department.status
                  data-id=department.MAKHOA
                ) Dừng hoạt động
            td
              a(
                  href=`/${prefixAdmin}/department/detail/${department.MAKHOA}`
                  class="btn btn-secondary btn-sm"
                ) Chi tiết
              a(
                  href=`/${prefixAdmin}/department/edit/${department.MAKHOA}`
                  class="btn btn-warning btn-sm"
              ) Sửa
              button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=department.MAKHOA
                  ) Xóa
      else
        tr
          td(
            colspan="7"
            class="text-center"
          ) Không tìm thấy sản phẩm nào
  form(
    form-change-status
    action=""
    method="POST"
    data-path=`/${prefixAdmin}/department/change-status`
  )

  form(
    form-delete-item
    action=""
    method="POST"
    data-path=`/${prefixAdmin}/department/delete`
  )
  +pagination(pagination)
